.footer{
    position: relative;
    background: url("../../../assets/Banners/footer-banner.jpg") center center / cover no-repeat;
    padding: 50px 0px 0px;
    color: white;
    z-index: 1;
}
/* Black overlay */
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* adjust opacity (0.5–0.8) as needed */
  z-index: -1;
}

/* Ensure content stays above overlay */
.footer * {
  position: relative;
  z-index: 2;
}
.footer_headline h2{
    color: rgb(195, 195, 195);
    font-size: 17px;
    font-weight: 400;
    font-family: var(--font-roboto);
}
.footer_logo img{
    width: 100px;
    height: auto;
}
.footer_social_items{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: start;         /* or center depending on your design */
  gap: 40px;                  /* space between columns */
  justify-content: space-between;
}
.footer_social_items a{
    color: var(--primary);
    border: 1px solid var(--primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all
}
.footer_social_items a:hover{
    background-color: var(--primary);
    color: white;
    transition: all 300ms;
}
.footer_links_item h3{
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-family: var(--font-roboto);
}
.footer_links_item ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_links_item ul li a{
    text-decoration: none;
    color: rgb(195, 195, 195);
    font-family: var(--font-inter);
    font-size: 15px;
    transition: all 300ms;
    display: flex;
    align-items: start;
    gap: 8px;
}
.footer_links_item ul li a:hover{
    color: var(--primary);
    transition: all 300ms;
}
.footer_links_items{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.footer_links_item ul li a span{
    color: var(--primary);
    font-size: 18px;
}
.footer_bottom{
    background-color: var(--primary);
    padding: 4px 0px;
    margin-top: 50px;
}
.footer_bottom_container p{
    font-size: 15px;
    font-family: var(--font-inter);
}